@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E1E1E;
}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color:  #1E1E1E;;

}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainmenu{
   justify-content: space-between;
}

.section-head{
        text-align: center;
        width: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
}
.section-head h3{
        font-size: 65px;
        color: #fff;
        font-weight: 500;
        margin: 20px 0;
}
.section-head p{
    font-size: 21px;
    color: #fff;


}





header {
    margin: 6px 0;

}

header .menu{
    text-align: center;
    justify-content: center;
}
header .menu ul{
    list-style-type: none;
}
header .menu li{
    display: inline-block;
}
header .menu  a{
    text-decoration: none;
    color: beige;
    font-size: 21px;
    margin: 0 3px;
    padding: 5px 4px;
    display: inline-block;
}
header .menu .download{
    background-color: #FD6F00;
    border-radius: 5px;
    padding: 7px 7px;
}






/* hero area css */
#hero{
     padding: 50px 0;
}
#hero .d-flex{
    justify-content: space-between;
}
#hero .leftarea{
    width: 50%;
    align-items: center;

}
#hero .rightarea{
    width: 50%;
}
#hero img{
    width: 80%;
}
#hero h5{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
#hero h4{
    font-size: 32px;
    color: #FD6F00;
    font-weight: 500;
}
#hero h2{
    font-size: 100px;
    font-weight: 700 ;
    color: #fff;
    line-height: 90px;
}
#hero .gap{
    margin-left: 200px;

}
#hero p{
    font-size: 21px;
    color: #fff;
    margin: 20px 0px;
}
#hero .leftarea a{
    font-size: 21px;
    color: #fff;
    background-color: #FD6F00;
    text-decoration: none;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 5px;
}
#hero .rightarea{
    position: relative;
    text-align: center;
}
#hero .imgarea::after{
    
    content: "";
    position: absolute;
    width: 300px;
    height: 70px;
    background-color: rgba(253, 111, 0, 60%);
    top: 76px;
    left: 126px;
    

}
#hero .rightarea a {
    font-size: 21px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}



/* about me area start  */
#aboutme{
    padding: 100px 0;
}
#aboutme .right{
    width: 50%;
    height: 483px;
}
#aboutme .left{
    width: 50%;
    position: relative;
}
#aboutme img{
    width: 100%;
}
#aboutme .imgarea::after{
    content: "";
    z-index: 9999;
    position: absolute;
    width: 300px;
    height: 70px;
    background-color: rgba(253, 111, 0, 60%);
    top: 76px;
    left: 126px;
}
#aboutme h3{
    font-size: 65px;
    font-weight: 500;
    color: #fff;
}
#aboutme p{
    color: #fff;
    font-size: 21px;
}
.progressarea .progress{
    background-color: #EDECEC;
    width: 100%;
    height: 12px;
}
.progressarea .sp{
    margin: 50px 0;
}
.progressarea .complete{
    
    height: 14px;
    background-color: #FD6F00;
    position: relative;
}
.progressarea .complete::after{
    position: absolute;
    content: "";
    background-color: #fff;
    width: 25px;
    height: 25px;
    right: -25px;
    top: -5px;
    border: 2px solid #FD6F00;
    border-radius: 50%;
}



/* service area start  */
#service{
    padding: 100px 0;
}
.service-list{
    width: 1200px;
    align-items: center;
    margin: 0 auto;

}
.service-list .sitem{
    background-color: #f8f8f8;
    margin: 20px;
    padding: 20px 10px ;
    border-radius: 14px;

}
.service-list img{
    width: 30px;

}
.service-list h3{
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    margin: 10px 0;

}
.service-list p{
    font-size: 19px;
    color: #000;

}


/* service area end  */



/* project area start  */
#project{
    padding: 50px 0;
}
.selectbar{
    margin: 30px 0;
    text-align: center;
   
    

}
.selectbar button{
    background-color: #f8f8f8;
    font-size: 24px;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 12px;
    border: 0;
    cursor:pointer;

}
.pitem{
    
        width: 1200px;
        align-items: center;
        margin: 0 auto;
}


.pitem .item{
    margin:0 10px;
    width: 20%;
}
.pitem .item img{
    font-size: 80%;
    
}
.pitem .item h5{
    font-size: 19px;
    font-weight: 500;
    color: #FD6F00;
    margin: 10px 0;
}
.pitem .item h4{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}



/* project area end  */


/* testmonial area start  */
.testmonial-list{
    width: 1200px;
    
    background-color: #fff;
    margin: 0 auto;
    
}
.testmonial-list .slist .imgarea{
    width: 30%;
}
.testmonial-list .slist .text{
    width: 70%;
}
#newsletter form{
    margin-top: 45px;
}
#newsletter form input[type="email"]{
    padding: 12px 20px;
    width: 300px;
    height: 30px;
    
}
#newsletter form input[type="submit"]{
    background-color: #FD6F00;
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 20px;
    width: 50px;

}
/* testmonial area end  */

/* footer css start  */
footer .widget{
    text-align: center;
}


.fmenu ul{
    list-style-type: none;
}
.fmenu li{
    display: inline-block;
}
.fmenu a{
    text-decoration: none;
    color: beige;
    font-size: 21px;
    margin: 0 3px;
    padding: 5px 4px;
    display: inline-block;
}
footer .socialarea a {
    font-size: 21px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
footer .copyright{
    background-color: #000;
    text-align: center;
    color: #f8f8f8;
    padding: 20px;
}
footer .copyright p{
    font-size: 21px;

}
footer .copyright a{
    color: #FD6F00;
    text-decoration: none;
}

/* footer css end */